@import "colors";

::ng-deep {

  form {
    margin: 6% auto;
    max-width: 400px;
    min-width: 200px;
    padding: 20px;

    .logo-container {
      width: 100%;

      .bhumi-logo {
        display: block;
        width: 200px;
        margin: auto;
      }
    }
  }

  mat-form-field {
    width: 100%;
  }
}


