@use '@angular/material' as mat;
@import "colors";

@include mat.core();

$my-primary: mat.define-palette(mat.$orange-palette, 800);
$my-accent:  mat.define-palette(mat.$pink-palette, A200, A100, A400);
$my-warning: mat.define-palette(mat.$orange-palette);


$my-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warning: $my-warning
  )
));

@include mat.all-component-themes($my-theme);
