<app-navbar [title]="'Reset Password'"></app-navbar>
<form ngNoForm [formGroup]="resetPasswordGroup" (ngSubmit)="onSubmit()">

  <div class="reset-instructions-container">
    <h2>Forgot password?</h2>
    <p class="reset-instructions">Please enter your registered email to get the password reset link.</p>
  </div>

  <div>
    <mat-form-field appearance="standard">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
      <mat-error *ngIf="resetPasswordGroup.get('email')?.invalid">{{ getErrorMessage('email') }}</mat-error>
    </mat-form-field>
  </div>

  <button class="reset-password-button" mat-flat-button color="primary">Reset password</button>

</form>
