:host {
  @import "src/assets/shared/common";

  section {
    text-align: center;
    padding: 20px;
    margin: auto;
    display: block;
    min-width: 320px;

    .volunteer-button {
      width: 320px;
    }
  }
}
