<app-navbar title="About RTE"></app-navbar>

<section>
  <img src="/assets/images/rte_logo.png" alt="RTE Logo">
  <p>
    The <b>Right to Education (RTE)</b> act of 2009 made India one of the very few countries in the world to make education a right of every child.
    <b>Section 12(1)c</b> of the act guarantees 25% reservation for children of backward and economically poor sections of the society free education in private schools.
  </p>
  <p>
    An estimated <b>20 lakh such free seats are available each year</b>, yet 80% of them are not taken as there is little awareness among under-privileged communities.
    Out focus is to engage <b>volunteers in creating awareness</b> among such communities and helping them benefit from this <b>life transforming opportunity</b>.
  </p>
  <p>
    This app developed by our volunteers will help you submit the details of eligible children to Bhumi.
    Bhumi volunteers will then call these parents to assist them in applying for admissions under RTE.
  </p>

  <p><b>Transform lives, Volunteer with Bhumi</b></p>

  <a mat-flat-button class="volunteer-button" color="primary" href="https://rte25.bhumi.ngo/volunteer"
   target="_blank" rel="noreferrer noopener">Sign up to Volunteer</a>

</section>
