<app-navbar [title]="'Signup'"></app-navbar>
<form ngNoForm [formGroup]="signupGroup">

  <div class="logo-container">
    <img class="bhumi-logo" src="/assets/images/bhumi_logo.png" alt="Bhumi logo">
  </div>

  <div>
    <mat-form-field appearance="standard">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="standard">
      <mat-label>Phone</mat-label>
      <input matInput formControlName="mobile" />
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="standard">
      <mat-label>Pin Code</mat-label>
      <input matInput formControlName="pin" />
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="standard">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" />
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="standard">
      <mat-label>Verify Password</mat-label>
      <input matInput type="password" formControlName="verifyPassword" />
    </mat-form-field>
  </div>

  <button class="signup-button" mat-flat-button color="primary">Sign up</button>

</form>
